<div class="container footer-foa" id="footerlayout">
    <br>
    &copy; 2021 FUTURE OF AVIATION INITIATIVE
    <img src="/img/imgFofALogo_Cropped.png" alt="Logo for Future of Aviation Website" class="img-responsive footer-logo">
    SUPPORTED BY THE AMCG FOUNDATION
</div>