<div id="switchboardsidemenu" class="col-3 bodylayout1col1">

  <div class="bodylayout1col1title" id="searchCriteriaTitle">Main Menu</div>
  <hr class="bodycol1break">
  <div class="searchInstructions">Select an item from the options below:</div><br>

  <!-- My Account Info (A placeholder for future enhancements)-->
  <!--
  <div id="myAccount">
    <button type="button" class="btn btn-default button-normal-nomargins" onclick="">My Account (<%= user.email %>)</button>
  </div><br>
  -->
  
</div>  <!-- End column 1 DIV -->