<div class="flexcontainer-nav" id="logoandnavbar">
    <div id="divLogo">
        <img src="/img/imgFofALogo_Small_Cropped.png" alt="Logo for Future of Aviation Website"
            class="navbar-logo">
    </div>
    <div class="column navbars-wrapper">
        <div class="navbar-login">
<!--
            <a class="navitem-login" href="../switchboard" id="navbarSwitchboard">Switchboard</a>&nbsp;&nbsp;
            <a class="navitem-login" href="../portal" id="navbarLogIn">Log In / Sign up</a>
-->
    </div>
        <div class="navbar-main">
            <a href="http://futureofaviation.aero/">home</a>
            <a href="http://futureofaviation.aero/about/">about</a>
            <a href="http://futureofaviation.aero/scholarships/">scholarships</a>
            <a href="http://futureofaviation.aero/sponsors/">sponsors</a>
            <a href="http://futureofaviation.aero/supporters/">supporters</a>
            <a href="http://futureofaviation.aero/contact/">contact</a>
            <span class="nav-dropdown">
                <button class="nav-dropdown-button">more <i id="navMoreChevron" class="fas fa-chevron-down"></i></button>
                <div class="nav-dropdown-content">
                    <a class="nav-link-dropdown" href="http://futureofaviation.aero/grants/">Grants</a><br>
                    <a class="nav-link-dropdown" href="http://futureofaviation.aero/internships/">Internships</a><br>
                    <a class="nav-link-dropdown" href="http://futureofaviation.aero/donate/">Donate</a>
                </div>
            </span>
        </div>
    </div>
</div>
