<div class="container" id="logoandnavbar">
    <nav class="navbar navbar-expand-sm navbar-default" >
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navigationbar navbar-center">
            <img src="/img/imgFofALogo_Cropped.png" alt="Logo for Future of Aviation Website" class="img-responsive navbar-logo">
            <div id="navbar-items" class="navbar-nav">
                <a class="nav-item nav-link" href="#">Home</a>
                <a class="nav-item nav-link" href="#">About</a>
                <a class="nav-item nav-link" href="../sponsorsearch">Sponsors</a>
                <a class="nav-item nav-link" href="../scholarshipsearch">Scholarships</a>
                <a class="nav-item nav-link" href="#">Grants</a>
                <a class="nav-item nav-link" href="#">Internships</a>
                <a class="nav-item nav-link" href="#">Supporters</a>
                <a class="nav-item nav-link" href="#">Donate</a>
                <a class="nav-item nav-link" href="../switchboard" id="navbarSwitchboard">Switchboard</a>
                <a class="nav-item nav-link" href="../portal" id="navbarLogIn">Log In / Sign Up</a>
            </div>
        </div>
    </nav>
</div>
<div align="center">
    <!--  <img src="images/imgFofALogo_Cropped.png" alt="Logo for Future of Aviation Website" style="width:200px;" class="img-responsive"><br> -->
    <img src="/img/imgScholarshipSplash_Cropped.jpg" alt="Photo of Eyeglasses and Model Airplace" style="width:100%; margin: 0px; padding: 0px;" class="img-responsive">
</div>
