<div class="flexcontainer-nav" id="logoandnavbar">
    <div id="divLogo">
        <img src="/img/AMCG_LogoOnly-294.jpg" alt="company logo"
            class="navbar-logo">
    </div>
    <div class="column navbars-wrapper">
        <div class="navbar-login">
            <a class="navitem-login" href="../switchboard" id="navbarSwitchboard">Switchboard</a>&nbsp;&nbsp;
            <a class="navitem-login" href="../portal" id="navbarLogIn">Log In / Sign up</a>
        </div>
        <div class="navbar-main">
            <a href="https://www.aviationmanagement.com/">HOME</a>
            <a href="https://www.aviationmanagement.com/about">ABOUT</a>
            <a href="https://www.aviationmanagement.com/services">SERVICES</a>
            <a href="https://www.aviationmanagement.com/resources">RESOURCES</a>
            <a href="https://www.aviationmanagement.com/contact">CONTACT</a>
            <a href="https://www.aviationmanagement.com/covid-19">COVID-19</a>
        </div>
    </div>
</div>
