<div class="row searchresults-mainblock-preview">
    <div class="searchresultscol1">
        <img id="sponsorLogoPreview" src="" class="sponsorLogo">
    </div>
    <div class="searchresultscol2"></div>
    <div class="searchresultscol3 container">
        <div class="row">
            <!-- <img src="/img/imgFeaturedScholarship.png" alt="Featured Scholarship Label" class="featuredbadge"> -->
            <div class="searchresultscol3A">Sponsor:</div>
            <div class="searchresultscol3B"><span id="sponsorNamePreview"></span></div>
            <div class="searchresultscol3A">Scholarship:</div>
            <div class="searchresultscol3B"><span id="scholarshipNamePreview"></span></div>
            <div class="searchresultscol3A">Scholarship Type:</div>
            <div class="searchresultscol3B"><span id="scholarshipTypePreview"></div>
            <div class="searchresultscol3A">Description:</div>
            <div class="searchresultscol3B text-block" id="scholarshipDescriptionPreview"></div>
            <div class="searchresultscol3A">Award:</div>
            <div class="searchresultscol3B"><span id="scholarshipAwardPreview"></div>
            <div class="searchresultscol3A">Eligibility Requirements:</div>
            <div class="searchresultscol3B text-block" id="scholarshipEligReqsPrimaryPreview"></div>
            <div class="searchresultscol3A">Application Dates:</div>
            <div class="searchresultscol3B"><span id="scholarshipApplDatesPreview"></div>
            <div class="searchresultscol3A">Contact Info:</div>
            <div class="searchresultscol3B text-block" id="scholarshipContactInfoPreview"></div>
        </div>
    </div>
</div>