<div class="row scholarshipSearchResultsSummaryRow">
    <div class="scholarshipsearchresultscol1">
        <img id="sponsorLogoPreview" src="" class="sponsorLogo">
    </div>
    <div class="scholarshipsearchresultscol2"></div>
    <div class="scholarshipsearchresultscol3 container">
        <div class="row">
            <div class="scholarshipsearchresultscol3A">Sponsor:</div>
            <div class="scholarshipsearchresultscol3B"><span id="sponsorNamePreview"></span></div>
            <div class="scholarshipsearchresultscol3A">Scholarship:</div>
            <div class="scholarshipsearchresultscol3B"><span id="scholarshipNamePreview"></span></div>
            <div class="scholarshipsearchresultscol3A">Scholarship Type:</div>
            <div class="scholarshipsearchresultscol3B"><span id="scholarshipTypePreview"></div>
            <div class="scholarshipsearchresultscol3A">Description:</div>
            <div class="scholarshipsearchresultscol3B text-block" id="scholarshipDescriptionPreview"></div>
            <div class="scholarshipsearchresultscol3A">Award:</div>
            <div class="scholarshipsearchresultscol3B"><span id="scholarshipAwardPreview"></div>
            <div class="scholarshipsearchresultscol3A">Eligibility Requirements:</div>
            <div class="scholarshipsearchresultscol3B text-block" id="scholarshipEligReqsPrimaryPreview"></div>
            <div class="scholarshipsearchresultscol3A">Application Dates:</div>
            <div class="scholarshipsearchresultscol3B"><span id="scholarshipApplDatesPreview"></div>
            <div class="scholarshipsearchresultscol3A">Contact Info:</div>
            <div class="scholarshipsearchresultscol3B text-block" id="scholarshipContactInfoPreview"></div>
        </div>
    </div>
</div>