<div>
    <div class="bodylayout1col1title" id="searchCriteriaTitle">Search Criteria</div>
    <hr class="bodycol1break">
    <div class="search-instructions">Enter criteria below and click "search".</div><br>

    <form action="/search/sponsors" method="POST" id="sponsorSearchCriteria" name="sponsorSearchCriteria">

        <!-- Hidden values for post form submittal -->
        <input type="hidden" id="showAllSponsorsFlag" name="showAllSponsorsFlag">

        <!-- Keyword(s) -->
        Keywords: <button type="button" class="btn btn-default button-small"
            onclick="toggleBlockShowHide(
                document.querySelector('#filterKeywordsIcon'),
                document.querySelector('#filterKeywordsInputBlock'),
                document.querySelector('#filterKeywordsInput'), '',
                    'fa-chevron-up', 'fa-chevron-down')">
            <i id="filterKeywordsIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
        </button><br>
        <div id="filterKeywordsInputBlock" class="filter-input-block">
            <div class="search-instructions">(Separate words/phrases with commas)</div>
            <input type="text" id="filterKeywordsInput" name="filterKeywordsInput" class="filter-input filter_textbox"><br>
        </div>

        <!-- Sponsor Name(s) -->
        Sponsor: <button type="button" class="btn btn-default button-small"
            onclick="toggleBlockShowHide(
                document.querySelector('#filterSponsorNamesIcon'),
                document.querySelector('#filterSponsorNamesInputBlock'),
                document.querySelector('#filterSponsorNamesInput'), '',
                    'fa-chevron-up', 'fa-chevron-down')">
            <i id="filterSponsorNamesIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
        </button><br>
        <div id="filterSponsorNamesInputBlock" class="filter-input-block">
            <div class="search-instructions-press-ctrl">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</div>
            <select id="filterSponsorNamesInput" name="filterSponsorNamesInput" class="filter_select" multiple></select><br>
        </div>

        <!-- Sponsor Type(s) -->
        Sponsor Type: <button type="button" class="btn btn-default button-small"
            onclick="toggleBlockShowHide(
                document.querySelector('#filterSponsorTypeIcon'),
                document.querySelector('#filterSponsorTypeInputBlock'),
                document.querySelector('#filterSponsorTypeInput'), '',
                    'fa-chevron-up', 'fa-chevron-down')">
            <i id="filterSponsorTypeIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
        </button><br>
        <div id="filterSponsorTypeInputBlock" class="filter-input-block">
            <div class="search-instructions-press-ctrl">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</div>
            <select id="filterSponsorTypeInput" name="filterSponsorTypeInput" class="filter_select" multiple></select><br>
        </div>

        <br>
    </form> <!-- End search criteria form -->

    <div style="text-align:left">
        <button type="button" class="btn btn-default button-search" onclick="showMatchingSponsors();">
            <img src="/img/imgMagnifyingGlass.png" alt="Magnifying Glass" class="img-responsive button-icon-magglass">
            Search
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-default button-search" onclick="showAllSponsors();">
            <img src="/img/imgRefresh.png" alt="arrow circling clockwise" class="img-responsive button-icon-refresh">
            Reset Search
        </button>
    </div>

</div>

<script>

    // Set the browser tab name (i.e., title)
    document.title = "Future of Aviation - Sponsor Search";

    // Set hidden controls' default values
    document.getElementById('showAllSponsorsFlag').value = ""

////////////////////////////////////////
// MOVE THESE TO SERVER-SIDE PROCESSING!
////////////////////////////////////////

    // Load the Sponsor List into the DDL and set any selected values (if search result)
    var splRows = <%- JSON.stringify(sponsorsActiveDDL.rows) %>;
    loadSelectOptionsList("filterSponsorNamesInput", "(Not Selected)", 0, splRows);
    var sponsorNamesSelected = "<%- previousValues.filterSponsorNamesInput %>";
    console.log("Previous Sponsor values (original): " + sponsorNamesSelected);
    if ( sponsorNamesSelected.length !== 0 && sponsorNamesSelected !== '0') {
        sponsorNamesSelected = '|' + sponsorNamesSelected.replace(',','|') + '|';
        console.log("Previous Sponsor values (formatted): " + sponsorNamesSelected);
        loadSelectedValues("filterSponsorNamesInput", sponsorNamesSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterSponsorNamesIcon'),
            document.querySelector('#filterSponsorNamesInputBlock'),
            document.querySelector('#filterSponsorNamesInput'), '',
                'fa-chevron-up', 'fa-chevron-down');
    };

    // Load the Sponsor Type options into the DDL
    var spsRows = <%- JSON.stringify(sponsorTypeCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterSponsorTypeInput", "(Not Selected)", 0, spsRows);
    var sponsorTypeCategoriesSelected = "<%- previousValues.filterSponsorTypeInput %>";
    console.log("Previous Sponsor Type values (original): " + sponsorTypeCategoriesSelected);
    if ( sponsorTypeCategoriesSelected.length !== 0 && sponsorTypeCategoriesSelected !== '0') {
        sponsorTypeCategoriesSelected = '|' + sponsorTypeCategoriesSelected.replace(',','|') + '|';
        console.log("Previous Sponsor Type values (formatted): " + sponsorTypeCategoriesSelected);
        loadSelectedValues("filterSponsorTypeInput", sponsorTypeCategoriesSelected, "|");
        toggleBlockShowHide(
            document.querySelector('#filterSponsorTypeIcon'),
            document.querySelector('#filterSponsorTypeInputBlock'),
            document.querySelector('#filterSponsorTypeInput'), '',
                'fa-chevron-up', 'fa-chevron-down');
    };

    /////////////////////////////////////////////////////////////////////
    // Process the "show all sponsors" precheck and submittal
    /////////////////////////////////////////////////////////////////////
    function showAllSponsors() {

        // set any status flags and submit the form
//        alert('Show all Sponsors');
        document.getElementById('showAllSponsorsFlag').value = "yes";
        document.getElementById('sponsorSearchCriteria').submit();
    };

    /////////////////////////////////////////////////////////////////////
    // Process the "show matching sponsors" precheck and submittal
    /////////////////////////////////////////////////////////////////////
    function showMatchingSponsors() {

        // validate entries before submittal
        if ( validateSponsorSearchCriteria() == 'validated' ) { // submit for search
            document.getElementById('showAllSponsorsFlag').value = "";
            document.getElementById('sponsorSearchCriteria').submit();
        } else if ( validateSponsorSearchCriteria() == 'none' ) {  // submit for "Reset Search"
            document.getElementById('showAllSponsorsFlag').value = "yes";
            document.getElementById('sponsorSearchCriteria').submit();
        }; // else errors occurred, do not submit

    };

</script>