<div class="row searchresults-mainblock-featured">
    <div class="sponsorsearchresultscol1">
        <img id="sponsorLogoPreview" src="" class="sponsorLogo">
    </div>
    <div class="sponsorsearchresultscol2"></div>
    <div class="sponsorsearchresultscol3 container">
        <div class="row">
            <img src="/img/imgFeaturedSponsor.png" alt="Featured Sponsor Label" class="featuredsponsorbadge">
            <div class="sponsorsearchresultscol3A">Sponsor:</div>
            <div class="sponsorsearchresultscol3Bfeatured"><span id="sponsorNamePreview"></span></div>
        </div>
        <div class="row">
            <div class="sponsorsearchresultscol3A">Description:</div>
            <div class="sponsorsearchresultscol3Bfeatured text-block"><span id="sponsorDescriptionPreview"></span></div>
        </div>
        <div class="row">
            <div class="sponsorsearchresultscol3A">Sponsor Website:</div>
            <div class="sponsorsearchresultscol3Bfeatured"><a id="sponsorWebsitePreview" href="" target="_blank" class="text-link"></a></div>
        </div>
        <div class="row">
            <div class="sponsorsearchresultscol3A">Contact Info:</div>
            <div class="sponsorsearchresultscol3Bfeatured"><span id="sponsorContactInfoPreview"></span></div>
        </div>
    </div>
</div>