<div class="row sponsorSearchResultsSummaryRow">
    <div class="sponsorsearchresultscol1">
        <img id="sponsorLogoPreview" src="" class="sponsorLogo">
    </div>
    <div class="sponsorsearchresultscol2"></div>
    <div class="sponsorsearchresultscol3 container">
        <div class="row">
            <div class="sponsorsearchresultscol3A">Sponsor:</div>
            <div class="sponsorsearchresultscol3B"><span id="sponsorNamePreview"></span></div>
            <div class="sponsorsearchresultscol3A">Description:</div>
            <div class="sponsorsearchresultscol3B text-block" id="sponsorDescriptionPreview"></div>
            <div class="sponsorsearchresultscol3A">Sponsor Website:</div>
            <div class="sponsorsearchresultscol3B"><a id="sponsorWebsitePreview" href="" target="_blank" class="text-link"></a></div>
            <div class="sponsorsearchresultscol3A">Contact Info:</div>
            <div class="sponsorsearchresultscol3B text-block"><span id="sponsorContactInfoPreview"></span></div>
        </div>
    </div>
</div>