<div class="col-9 bodylayout1col2-datamgmt" id="scholarshipsearchresultscolumn">
    <span class="bodylayout1col2title" id="sponsorInstructions"><label>
      Add the information for the new Sponsor below, and click "Add Sponsor".</label></span><br>
    <hr class="bodycol2break"><br>
    <form form action="/switchboard/sponsoradd" method="POST" id="sponsorData">
      <div>
          <label for="sponsorName" class="data-mgmt">Sponsor Name:</label>
          <input type="text" id="sponsorName" name="sponsorName" class="data-mgmt-text">
      </div><br>
      <div>
          <label for="sponsorDescription" class="data-mgmt">Description:</label>
          <textarea id="sponsorDescription" name="sponsorDescription" class="data-mgmt"></textarea> 
      </div><br>
      <div>
        <label for="sponsorWebsite" class="data-mgmt">Website:</label>
        <input type="text" id="sponsorWebsite" name="sponsorWebsite" class="data-mgmt-text">
      </div><br>
      <div>
        <label for="sponsorNEXT" class="data-mgmt">...more items...</label>
        <input type="text" id="sponsorNEXT" name="sponsorNEXT" class="data-mgmt">
      </div><br>
      <button class="data-mgmt">Add Sponsor</button>
    </form><br>