<div class="col-9 bodylayout1col2-datamgmt" id="scholarshipsearchresultscolumn">
    <span class="bodylayout1col2title" id="sponsorInstructions">
      <label class="data-mgmt-col-title">
        Add the information for the new Sponsor below, and click "Add Sponsor".
      </label></span><br>
    <hr class="bodycol2break">
    <label class="data-mgmt-instruction">&nbsp;&nbsp;&nbsp;* indicates a required entry</label><br><br>

    <!-- The data entry form container -->
    <form form action="/switchboard/sponsoradd" method="POST" id="sponsorData">

      <!-- Sponsor Name -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="sponsorName" class="data-mgmt">Sponsor Name:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="sponsorType" class="data-mgmt-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="sponsorName" name="sponsorName" class="data-mgmt-text"><br>
            <span class="data-mgmt-error" id="sponsorNameErrors"></span>
          </div>
        </div>
      </div><br>

      <!-- Sponsor Description -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="sponsorDescription" class="data-mgmt">Description:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="sponsorType" class="data-mgmt-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value">
            <textarea id="sponsorDescription" name="sponsorDescription" class="data-mgmt"></textarea><br>
            <span class="data-mgmt-error" id="sponsorDescriptionErrors"></span>
          </div>
        </div>
      </div><br>

      <!-- Sponsor Website -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="sponsorWebsite" class="data-mgmt">Website:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="sponsorType" class="data-mgmt-required"></label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="sponsorWebsite" name="sponsorWebsite" class="data-mgmt-text">
          </div>
        </div>
      </div><br>

      <!-- Sponsor Logo -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="sponsorLogo" class="data-mgmt">Logo:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="sponsorType" class="data-mgmt-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="sponsorLogo" name="sponsorLogo" class="data-mgmt-text">
          </div>
        </div>
      </div><br>

      <!-- Sponsor Contact First Name -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="sponsorContactFName" class="data-mgmt">Contact First Name:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="sponsorType" class="data-mgmt-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="sponsorContactFName" name="sponsorContactFName" class="data-mgmt-text-short">
          </div>
        </div>
      </div><br>

      <!-- Sponsor Contact Last Name -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="sponsorContactLName" class="data-mgmt">Contact Last Name:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="sponsorType" class="data-mgmt-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="sponsorContactLName" name="sponsorContactLName" class="data-mgmt-text-short">
          </div>
        </div>
      </div><br>

      <!-- Sponsor Contact Email -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="sponsorContactEmail" class="data-mgmt">Contact Email:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="sponsorType" class="data-mgmt-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="sponsorContactEmail" name="sponsorContactEmail" class="data-mgmt-text-short">
          </div>
        </div>
      </div><br>

      <!-- Sponsor Contact Telephone -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="sponsorContactTelephone" class="data-mgmt">Contact Telephone:</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="sponsorType" class="data-mgmt-required"></label>
          </div>
          <div class="col-8 data-mgmt-value">
            <input type="text" id="sponsorContactTelephone" name="sponsorContactTelephone" class="data-mgmt-text-short">
          </div>
        </div>
      </div><br>

      <!-- Sponsor Type(s) -->
      <div class="flexcontainer-datamgmt">
        <div class="row">
          <div class="col-3 data-mgmt-label">
            <label for="sponsorType" class="data-mgmt">Sponsor Type(s):</label><br>
            <label class="data-mgmt-instruction">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</label>
          </div>
          <div class="col-1 data-mgmt-required">
            <label for="sponsorType" class="data-mgmt-required">*</label>
          </div>
          <div class="col-8 data-mgmt-value">
            <select id="sponsorTypes" name="sponsorTypes" class="data-mgmt-multiple" multiple></select><br>
          </div>
        </div>
      </div><br>
      <button class="data-mgmt" onclick="return validateData();">Add Sponsor</button>
    </form><br>
</div>

<script>

  // Set the browser tab name (i.e., title)
  document.title = "Future of Aviation - Add Sponsor";

  // Load the Sponsor Types into the DDL
  var sptRows = <%- JSON.stringify(sponsorTypeCategoriesDDL.rows) %>;
  loadSelectOptionsList("sponsorTypes", "(Not Selected)", 0, sptRows);

  // Validate the data before submitting the form
  function validateData() {
    var dataAreValid = true;  // test for errors below

    // Sponsor Name
    var sponsorName = document.getElementById("sponsorName").value;
    var sponsorNameErrors = document.getElementById("sponsorNameErrors");
    sponsorNameErrors.innerText = '';  // reset value
    if ( sponsorName.length === 0 ) {
      sponsorNameErrors.innerText = "Sponsor Name cannot be blank.";
    };
    if ( sponsorNameErrors.innerText.length === 0 ) {  // if no errors, add the sponsor
      sponsorNameErrors.style.display = "none";
    } else {
      sponsorNameErrors.style.display = "block";
      dataAreValid = false;
    };

    // Sponsor Description
    var sponsorDescription = document.getElementById("sponsorDescription").value;
    var sponsorDescriptionErrors = document.getElementById("sponsorDescriptionErrors");
    sponsorDescriptionErrors.innerText = '';  // reset value
    if ( sponsorDescription.length === 0 ) {
      sponsorDescriptionErrors.innerText = "Sponsor Description cannot be blank.";
    };
    if ( sponsorDescriptionErrors.innerText.length === 0 ) {  // if no errors, add the sponsor
      sponsorDescriptionErrors.style.display = "none";
    } else {
      sponsorDescriptionErrors.style.display = "block";
      dataAreValid = false;
    };

    // If no errors, add the Sponsor
    return dataAreValid;

  }

</script>