<div class="row searchresults-mainblock-featured">
    <div class="searchresultscol1">
        <img id="sponsorLogoPreview" src="" class="sponsorLogo">
    </div>
    <div class="searchresultscol2"></div>
    <div class="searchresultscol3 container">
        <div class="row">
            <img src="/img/imgFeaturedSponsor.png" alt="Featured Sponsor Label" class="featuredbadge">
            <div class="searchresultscol3A">Sponsor:</div>
            <div class="searchresultscol3Bfeatured"><span id="sponsorNamePreview"></span></div>
        </div>
        <div class="row">
            <div class="searchresultscol3A">Description:</div>
            <div class="searchresultscol3Bfeatured text-block"><span id="sponsorDescriptionPreview"></span></div>
        </div>
        <div class="row">
            <div class="searchresultscol3A">Sponsor Website:</div>
            <div class="searchresultscol3Bfeatured"><a id="sponsorWebsitePreview" href="" target="_blank" class="text-link"></a></div>
        </div>
        <div class="row">
            <div class="searchresultscol3A">Contact Info:</div>
            <div class="searchresultscol3Bfeatured"><span id="sponsorContactInfoPreview"></span></div>
        </div>
    </div>
</div>