<div>
    <div class="bodylayout1col1title" id="searchCriteriaTitle">Search Criteria</div>
    <hr class="bodycol1break">
    <div class="searchInstructions">Enter criteria below and click "search".</div><br>

    <!-- Keyword(s) -->
    Keywords: <button type="button" class="btn btn-default button-small"
        onclick="toggleSearchCriteriaInputBlock(
            document.querySelector('#filterKeywordsIcon'),
            document.querySelector('#filterKeywordsInputBlock'),
            document.querySelector('#filterKeywordsInput'), '')">
        <i id="filterKeywordsIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterKeywordsInputBlock" class="filter-input-block">
        <div class="searchInstructions">(Separate words/phrases with commas)</div>
        <input type="text" id="filterKeywordsInput" class="filter-input filter_textbox"><br>
    </div>

    <!-- Sponsor Name(s) -->
    Sponsor: <button type="button" class="btn btn-default button-small"
        onclick="toggleSearchCriteriaInputBlock(
            document.querySelector('#filterSponsorNamesIcon'),
            document.querySelector('#filterSponsorNamesInputBlock'),
            document.querySelector('#filterSponsorNamesInput'), '')">
        <i id="filterSponsorNamesIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterSponsorNamesInputBlock" class="filter-input-block">
        <div class="searchInstructions">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</div>
        <select id="filterSponsorNamesInput" class="filter_select" multiple></select><br>
    </div>

    <!-- Sponsor Type(s) -->
    Sponsor Type: <button type="button" class="btn btn-default button-small"
        onclick="toggleSearchCriteriaInputBlock(
            document.querySelector('#filterSponsorTypeIcon'),
            document.querySelector('#filterSponsorTypeInputBlock'),
            document.querySelector('#filterSponsorTypeInput'), '')">
        <i id="filterSponsorTypeIcon" class="fas fa-chevron-down expand-filter chevrons"></i>
    </button><br>
    <div id="filterSponsorTypeInputBlock" class="filter-input-block">
        <div class="searchInstructions">&nbsp;&nbsp;&nbsp;(Press [ctrl] to select multiples.)</div>
        <select id="filterSponsorTypeInput" class="filter_select" multiple></select><br>
    </div>

<br>

    <div style="text-align:left">
        <button type="button" class="btn btn-default button-search" onclick="findMatchingSponsors(spnRows, schRows, 1);">
            <img src="/img/imgMagnifyingGlass.png" alt="Magnifying Glass" class="img-responsive button-icon-magglass">
            Search
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-default button-search" onclick="showAllSponsors(spnRows, schRows);">
            <img src="/img/imgRefresh.png" alt="arrow circling clockwise" class="img-responsive button-icon-refresh">
            Reset Search
        </button>
    </div>

</div>

<script>

    // Set the browser tab name (i.e., title)
    document.title = "Future of Aviation - Sponsor Search";

    // Load the Sponsor List into the DDL
    var splRows = <%- JSON.stringify(sponsorsAllDDL.rows) %>;
    loadSelectOptionsList("filterSponsorNamesInput", "(Not Selected)", 0, splRows);

    // Load the Sponsor Type options into the DDL
    var spsRows = <%- JSON.stringify(sponsorTypeCategoriesDDL.rows) %>;
    loadSelectOptionsList("filterSponsorTypeInput", "(Not Selected)", 0, spsRows);

    // Load distinct list of Sponsors into the "Search" button destinations
    var spnRows = <%- JSON.stringify(sponsorsAllView.rows) %>;

    // Load all active scholarships into the "Search" button destinations
    var schRows = <%- JSON.stringify(scholarshipsActive.rows) %>;

</script>