<div class="col-9 bodylayout1col2" id="scholarshipsearchresultscolumn">
    <span class="bodylayout1col2title" id="errorMessage">An error has occurred!</span><br><br>
    <% if ( errorCode === 909 ) { %>
    You do not have permission for the requested data.  Please contact [some email] if you feel you should have access to the requested data. (909)
    <% } else if ( errorCode === 909 ) { %>
    This Sponsor does not exist.  Return to the Switchboard and select another Sponsor from the list. (908)
    <% } %>
  </div>  <!-- End column 2 DIV  -->
