<% layout('layouts/boilerplate') %>
<%- include('partials/splashbar_switchboard') %>

<div class="container pagetitle" align="center">
  An Error Has Occurred
  <hr class="pagetitlebreak">
</div>

<!-- Flex Grid for Body -->
<div class="container">

  <!-- 1st Row of Main Body -->
  <div class="row">

    <!-- Left-hand Panel: Main Content Menu -->
    <div id="switchboardsidemenu" class="col-3 bodylayout1col1">
    </div>  <!-- End column 1 DIV -->

    <!-- Right-hand Panel: Content -->
    <div class="col-9 bodylayout1col2" id="scholarshipsearchresultscolumn">
      <br><br>
      <% if ( errorCode === 901 ) { %>
        This page cannot be found. (901)<br><br>
        The Webmaster has been notified.
      <% } else if ( errorCode === 908 ) { %>
        The selected Sponsor does not exist. (908)<br><br>
        Return to the Switchboard and select another Sponsor from the list.
      <% } else if ( errorCode === 909 ) { %>
        You do not have permission to view the requested data. (909)<br><br>
        Please contact scholarships@futureofaviation.aero if you feel you should have access to this data.<br><br>
        Return to the Switchboard and select another Sponsor from the list.
        <% } else if ( errorCode === 918 ) { %>
          The selected Scholarship does not exist. (918)<br><br>
          Return to the Switchboard and select another Scholarship from the list.
        <% } else if ( errorCode === 919 ) { %>
          You do not have permission to view the requested data. (919)<br><br>
          Please contact scholarships@futureofaviation.aero if you feel you should have access to this data.<br><br>
          Return to the Switchboard and select another Scholarship from the list.
      <% } else if ( errorCode === 928 ) { %>
        The selected User does not exist. (928)<br><br>
        Return to the Switchboard and select another User from the list.
      <% } else if ( errorCode === 929 ) { %>
        You do not have permission to view the requested data. (929)<br><br>
        Please contact scholarships@futureofaviation.aero if you feel you should have access to this data.<br><br>
        Return to the Switchboard and select another User from the list.
      <% } else { %>
        An unknown error has occurred.
        <% } %><br><br><br>
    </div>  <!-- End column 2 DIV  -->
  
  </div>    <!-- End row 1 DIV     -->

  <!-- 2nd Row of Main Body -->
  <div class="row">
    <div id="switchboardsidemenu_footer" class="col-3 bodylayout1col1"></div>
    <div id="scholarshipsearchresultscolumn_footer" class="col-9 bodylayout1col2">
      <hr class="bodycol2break">
    </div>
  </div>    <!-- End row 2 DIV     -->

</div>      <!-- End container DIV -->

<script>
    // Set the browser tab name (i.e., title)
    document.title = "Future of Aviation - Error";
</script>