<% layout('layouts/boilerplate') %>
<%- include('partials/splashbar_portal') %>

<div class="container pagetitle" align="center">
  Portal Login
  <hr class="pagetitlebreak">
</div>

<!-- Flex Grid for Body -->
<div class="container">
    <!-- Search Options -->
    <div class="row">
      <div id="scholarshipsearchcriteria" class="col-3 bodylayout1col1">
      </div>
      <div class="col-9 bodylayout1col2" id="portalinstructions">
        <label class="label-paragraph-title">Future of Aviation Portal Access:</label><br>
        <span class="span-paragraph" id="portalintrotext">This portal provides access to <label class="label-paragraph">Scholarship Providers</label>
          to manage data for their company or educational institution, and scholarships being offered.<br>
        </span><br>
        <br>
        <label class="label-paragraph-title">Log In:</label><br>
        <span class="span-paragraph" id="login">If you have an account, click
            <a id="lnkLogin" href="/login/switchboard" class="a-paragraph">HERE</a> to log in to access your content.</span><br>
        <br><br>
        <label class="label-paragraph-title">Sign Up:</label><br>
        <span class="span-paragraph" id="signup">If you don't have an account, click
            <a id="lnkSignUp" href="/sign-up/switchboard" class="a-paragraph">HERE</a> to sign up.<br><br>
            Note that signing up for an account does not automatically grant access to any protected content until a member
            of the staff reviews and approves your account access.  This usually occurs with 3-4 business days.<br><br>
            For more information, please contact <a href="mailto: WebMaster@foa.aero" class="a-paragraph">Some Email Account</a>.</span><br>
        <br><br>
        <hr class="bodycol2break">
      </div>
    </div>
</div>

<script>
    // Set the browser tab name (i.e., title)
    document.title = "Future of Aviation - Log in / Sign up";
</script>