<% layout('layouts/boilerplate') %>
<%- include('partials/splashbar_main') %>

<div class="container pagetitle" align="center">
  Find a Scholarship
  <hr class="pagetitlebreak">
</div>

<!-- Flex Grid for Body -->
<div class="container">
  <!-- Search Options -->
  <div class="row">
    <div id="scholarshipsearchcriteria" class="col-3 bodylayout1col1">
      <%- include('partials/scholarshipsearchcriteria') %>
    </div>
    <div id="searchresultscolumn" class="col-9 bodylayout1col2">
      <div id="searchresultsmaintitle">
        <span class="bodylayout1col2title" id="searchResultsTitle">Enter criteria and click "Search"</span><br>
        <hr class="bodycol2break">
      </div>
    </div>
  </div>
</div>

<script>
  // Show all active scholarships by default
  var spnRows = <%- JSON.stringify(sponsorsActiveView.rows) %>;
  var schRows = <%- JSON.stringify(scholarshipsActive.rows) %>;
  showAllScholarships(schRows, spnRows);

</script>