<% layout('layouts/boilerplate') %>

<div class="container pagetitle" align="center">
  Scholarship Information
  <hr class="pagetitlebreak">
</div>

<!-- Flex Grid for Body -->
<div class="container">

  <!-- Search Options -->
  <div class="row">

    <!-- Left-hand Panel: Main Content Menu -->
    <%- include('partials/menu_main') %>

    <!-- Right-hand Panel: Content -->
    <div class="col-9 bodylayout1col2-datamgmt" id="scholarshipsearchresultscolumn">
      <span class="bodylayout1col2title" id="sponsorInstructions"><label>
        Add the new information below, and click "Add Scholarship" (Sponsor: <%= SponsorID %>)</label></span><br>
      <hr class="bodycol2break"><br>
      <form action="/scholarshipadd" method="POST">
        <div>
            <label for="scholarshipName" class="data-mgmt">Scholarship Name:</label>
            <input type="text" id="scholarshipName" name="ScholarshipName" class="data-mgmt-text">
        </div><br>
        <div>
            <label for="scholarshipDescription" class="data-mgmt">Description:</label>
            <textarea id="scholarshipDescription" name="ScholarshipDescription" class="data-mgmt"></textarea> 
        </div><br>
        <div>
          <label for="scholarshipLink" class="data-mgmt">Link:</label>
          <input type="text" id="scholarshipLink" name="ScholarshipLink" class="data-mgmt-text">
      </div><br>
    <button class="data-mgmt">Add Scholarship</button>
      </form><br>
    </div>  <!-- End column 2 DIV  -->

  </div>    <!-- End row 1 DIV     -->

  <div class="row">
    <div id="switchboardsidemenu_footer" class="col-3 bodylayout1col1"></div>
    <div id="scholarshipsearchresultscolumn_footer" class="col-9 bodylayout1col2">
      <hr class="bodycol2break">
    </div>
  </div>    <!-- End row 2 DIV     -->

</div>      <!-- End container DIV -->