<% layout('layouts/boilerplate') %>
<%- include('partials/splashbar_main') %>

<!-- Custom Script Libraries -->
<script src="/js/common_fx_client.js"></script>
<script src="/js/foa_fx_search_generic_client.js"></script>
<script src="/js/foa_fx_search_sponsors.js"></script>

<!-- Set the page title -->
<div class="container pagetitle" align="center">
  Find a Sponsor
  <hr class="pagetitlebreak">
</div>

<!-- Flex Grid for Body -->
<div class="container">
  <!-- Search Options -->
  <div class="row">
    <div id="panel_body_left" class="col-3 bodylayout1col1">
      <%- include('partials/sponsorsearchcriteria') %>
    </div>
    <div id="panel_body_right" class="col-9 bodylayout1col2">
      <div id="searchresultsmaintitle">
        <span class="bodylayout1col2title" id="searchResultsTitle">Enter criteria and click "Search"</span><br>
        <hr class="bodycol2break">
      </div>
      <div id="panel_search_results">
      </div>
    </div>
  </div>
</div>

<script>

  // Local variables
  var spnRows = <%- JSON.stringify(sponsorsMatching.rows) %>;
  var sponsorsAllOrMatched = <%- JSON.stringify(sponsorsAllOrMatched) %>;

  // If the screen size is "small" and a search was performed, collapse the Search Criteria panel
  if ( window.innerWidth < 768 ) { // collapse the hamburger menu by default
    console.log(`sponsorsAllOrMatched: ${sponsorsAllOrMatched}`);
    if ( sponsorsAllOrMatched == 'matched' ) {
      toggleBlockShowHide(
        document.querySelector('#searchPanelCriteriaBlockIcon'),
        document.querySelector('#searchPanelCriteriaBlock'), '', 'hide',
        'fa-angle-double-up', 'fa-angle-double-down');
    };
  };

  // Display the Sponsors (all, matched, or none)
  showSelectedSponsors(spnRows, sponsorsAllOrMatched);

</script>