<% layout('layouts/boilerplate') %>

<div class="container pagetitle" align="center">
  Switchboard
  <hr class="pagetitlebreak">
</div>

<!-- Flex Grid for Body -->
<div class="container">

  <!-- Search Options -->
  <div class="row">

    <div id="switchboardsidemenu" class="col-3 bodylayout1col1">
      <div class="bodylayout1col1title" id="searchCriteriaTitle">Main Menu</div>
      <hr class="bodycol1break">
      <div class="searchInstructions">Select an item from the options below:</div><br>

      <!-- My Account Info -->
      <div id="myAccount">
        <button type="button" class="btn btn-default button-normal-nomargins" onclick="">My Account (<%= user.email %>)</button>
      </div><br>

      <!-- Sponsor Name(s) -->
      Sponsor(s):
      <span id="addSponsor" class="float-right">
        <button type="button" class="btn btn-default button-small" onclick="">Add Sponsor</button>&nbsp;
      </span>
      <div id="filterSponsorNamesInputBlock">
        <select id="filterSponsorNamesInput" class="single-choice" onchange="gotoSponsorDetails(this.value)"></select><br>
      </div><br>
      <!-- Scholarship(s) -->
      <div>
        Scholarship(s):
          <span id="addSponsor" class="float-right"><button type="button" class="btn btn-default button-small" onclick="">
            Add Scholarship</button>&nbsp;</span>
      </div>
      <span class="searchInstructions">&nbsp;&nbsp;&nbsp;(Filtered to the Sponsor selected above.)</span>
      <div id="filterScholarshipsInputBlock">
        <select id="filterScholarshipsInput" class="single-choice"></select><br>
      </div><br>

    </div>  <!-- End column 1 DIV -->

    <div class="col-9 bodylayout1col2" id="scholarshipsearchresultscolumn">
      <span class="bodylayout1col2title" id="userName">Welcome, <%= user.name %>!</span><br>
    </div>  <!-- End column 2 DIV  -->
  </div>    <!-- End row 1 DIV     -->

  <div class="row">
    <div id="switchboardsidemenu_footer" class="col-3 bodylayout1col1"></div>
    <div id="scholarshipsearchresultscolumn_footer" class="col-9 bodylayout1col2">
      <hr class="bodycol2break">
    </div>
  </div>    <!-- End row 2 DIV     -->
</div>      <!-- End container DIV -->

<script>

  // Load the Sponsor List into the DDL
  var splRows = <%- JSON.stringify(sponsorsDDL.rows) %>;
  loadSelectOptionsList("filterSponsorNamesInput", "(Not Selected)", 0, splRows);

  // Load the Scholarships List into the DDL
  var schRows = <%- JSON.stringify(scholarshipsDDL.rows) %>;
  loadSelectOptionsList("filterScholarshipsInput", "(Not Selected)", 0, schRows);

  // Redirect the user to the Sponsor Details page
  function gotoSponsorDetails(selectedSponsorID) {
    var newURL = '/sponsordetails/' + selectedSponsorID;
    location.href=newURL;
  }

</script>