<% layout('layouts/boilerplate') %>
<%- include('partials/splashbar_switchboard') %>

<div class="container pagetitle" align="center">
  Switchboard - New User Account
  <hr class="pagetitlebreak">
</div>

<!-- Flex Grid for Body -->
<div class="container">

  <!-- 1st Row of Main Body -->
  <div class="row">

    <!-- Left-hand Panel: Main Content Menu (No Content) -->
    <div id="switchboardsidemenu" class="col-3 bodylayout1col1">
    </div>  <!-- End column 1 DIV -->

    <!-- Right-hand Panel: Content -->
    <div class="col-9 bodylayout1col2" id="scholarshipsearchresultscolumn">
      <span class="bodylayout1col2title" id="userName">Welcome, <%= user.name %>!</span><br><br><br><br>

      Your account is under review, and a member of our team will contact you when you have been granted
      access to content such as the Airport Information System.<br><br><br><br><br><br>

    </div>  <!-- End column 2 DIV  -->

  </div>    <!-- End row 1 DIV     -->

  <!-- 2nd Row of Main Body -->
  <div class="row">
    <div id="switchboardsidemenu_footer" class="col-3 bodylayout1col1"></div>
    <div id="scholarshipsearchresultscolumn_footer" class="col-9 bodylayout1col2">
      <hr class="bodycol2break">
    </div>
  </div>    <!-- End row 2 DIV     -->

</div>      <!-- End container DIV -->