
/***********************************************************************************************
 * VARIABLES                                                                                   *
 ***********************************************************************************************/

:root {
  --amcg-blue: rgb(0,73,140);
  --amcg-blue-25: rgb(0,73,140,.25);
  --amcg-yellow: rgb(253,185,19);
}

/***********************************************************************************************
 * ELEMENTS                                                                                    *
 ***********************************************************************************************/

body {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.125em;
  color: var(--amcg-blue);
/*  background: #616161;  /* fallback for old browsers */  
/*  background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
/*  background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.navigationbar {
  width: 100%;
  text-align: center;
  color: var(--amcg-blue);
  vertical-align: middle;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--amcg-blue);
    margin: auto;  /* centers the hr */
    padding: 0;
}

hr.pagetitlebreak{
    border-top: 2px solid var(--amcg-yellow);
    height: 40px;
    width: 172px;
}

hr.bodycol1break{
  border-top: 2px solid var(--amcg-yellow);
  margin: 0px;
  padding: 0px;
  width: 50%;
}

hr.bodycol2break{
  border-top: 2px solid var(--amcg-yellow);
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 100%;
}

hr.bodycol2scholarshipbreak{
  border-top: 2px solid var(--amcg-yellow);
  margin: 10px 0px 0px 0px;
  padding: 0px;
  width: 100%;
}
a:link {
    color: var(--amcg-blue);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: var(--amcg-blue);  /* don't change the color of a visited link */
    background-color: transparent;
    text-decoration: none;
  }

  br.halfBreak {
    line-height: 0.25;
  }

 /***********************************************************************************************
 * IDs                                                                                          *
 ***********************************************************************************************/

#logoandnavbar {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
/*  margin-top: 25px; */
}

/***********************************************************************************************
 * CLASSES                                                                                    *
 ***********************************************************************************************/

 .femaleapplicantsonly {
     font-weight: bold;
     float: right;
     background-color: lightseagreen;
}

 .textbold {
    font-weight: bold;
 }

 .pagetitle {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.125em;
    color: var(--amcg-blue);
    font-weight: bold;
    padding: 0px 5px 0px 0px;
 }

 .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    vertical-align: middle;
}

.navbar-nav .nav-link {
    display: table-cell;
/*    margin-right: 5px; */
/*    margin-left: 5px; */
    vertical-align: middle;
    line-height: normal;
    white-space: nowrap;
}

.custom-toggler.navbar-toggler {
    border-color: var(--amcg-blue);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 73, 140, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.chevrons {
  color: var(--amcg-blue);
}

.inline-element {
  display: inline-block;
}

.bodylayout1col1 {
  margin: 0px;
  padding: 0px 10px 0px 0px;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  border-color: var(--amcg-yellow);
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
/*  font-variant: small-caps; */
  color: var(--amcg-blue);
  line-height: 1.4;
}

.filter-input-block {
  display: none;
/*  margin-left: 1.5em; */
}

.bodylayout1col2 {
  margin: 0px;
  padding: 0px 0px 0px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: var(--amcg-blue);
  line-height: 1.2;
}

.bodylayout1col1title {
  font-size: 1.125em;
  font-weight: bold;
}

.searchInstructions {
  font-size: 0.825em;
}

.button-small {
  font-size: 0.825em;
  padding: 0px;
  margin: 0px 0px 0px 5px;
  color: var(--amcg-blue);
}

.advanced-search-criteria {
  margin-left: 1.5em;
}

.bodylayout1col2title {
  font-size: 1.125em;
  font-weight: bold;
}

.expand-filter {
  padding: 0px;
  margin: 0px;
  height: 5px;
}

.filter_textbox {
  font-size: 0.875em;
  width: 98%;
}

.filter_select {
  font-size: 0.875em;
  width: 98%;
}

.filter-option {
  line-height: 2;
  padding: 0px;
  margin: 0px;
}

.button-search {
  padding: 0px 10px 0px 0px;
  color: var(--amcg-blue);
}

.button-apply {
  width:75px;
}

.button-disabled {
  filter: grayscale(1);
}

.button-enabled {
  filter: grayscale(0);
}

.scholarshipSearchResultsSummaryRow {
  margin: 0px 0px 0px 0px;
}

.scholarshipSearchResultsDetailsRow {
  margin: 0px 0px 0px 0px;
}

.scholarshipsearchresultscol1 {
  padding: 5px 0px 0px 0px;
  font-size: 0.875em;
  width: 125px;
  white-space: normal;
  overflow: hidden;
  vertical-align: top;
}

.scholarshipsearchresultscol1.apply {
  vertical-align: bottom;
  text-align: center;
/*  position: absolute;
  bottom: 0;
  left: 0; */
}

.scholarshipsearchresultscol2 {
  font-size: 1.25em;
  text-align: center;
  width: 30px;
}

.scholarshipsearchresultscol3 {
  width: 660px;    /* fix this later to take up the remaining screen width */
/*  color: black;  */
  margin: 0px 0px 0px 15px;
  line-height: 1.8;
}

.scholarshipsearchresultscol3A {
  width: 140px;
  font-size: 0.875em;
  font-variant: normal;
  padding-top: 3px;
}

.scholarshipsearchresultscol3A.text-block {
  width: 140px;    /* fix this later to take up the remaining screen width */
  font-size: 0.875em;
  font-variant: normal;
  padding-top: 8px;
  line-height: 1.3;
}

.scholarshipsearchresultscol3B {
  width: 500px;    /* fix this later to take up the remaining screen width */
  font-size: 0.875em;
  font-variant: normal;
  padding-top: 3px;
}

.scholarshipsearchresultscol3B.text-block {
  width: 500px;    /* fix this later to take up the remaining screen width */
  font-size: 0.875em;
  font-variant: normal;
  padding-top: 8px;
  line-height: 1.3;
}

.scholarshipsearchresultscol3B.text-block.description-short {
  max-height: 115px; /* default to 6 lines of text */
/*  white-space: nowrap; */
/*  overflow: hidden; */
/*  text-overflow: ellipsis; */
  overflow: hidden;
}

.scholarshipsearchresultscol3B.description-long {
  height: auto; /* expand to fit contents */
  overflow: visible;
}

.sponsorLogo {
  width:125px;
}

.scholarshipsponsorname {
  font-weight: bold;
  text-decoration: underline;
  color: var(--amcg-blue);
}

.eligibilityreqs {
  text-align: left;
  font-size: 0.75em;
}

.scholarshipname {
  font-weight: bold;
  text-decoration: underline;
  color: var(--amcg-blue);
}

.paginationNavBar {
  text-align: right;
}

.paginationItem {
  padding-left: 5px;
  padding-right: 5px;
/*  margin-left: 5px; */
/*  margin-right: 5px; */
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: var(--amcg-blue);
}

.paginationItem:hover {
/*  background-color: lightgreen;  */
 text-decoration: underline;
 cursor: pointer;
}

.paginationItemSelected {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
/*  background-color: lightskyblue; */
}

.footer-foa {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 0.6em;
  color: var(--amcg-blue);
}

.navbar-logo {
  width: 200px;
}

.footer-logo {
  width: 250px;
  padding: 0px 30px 10px 30px;
}

.amcg_headerfooter {
  border-style: none;
  width: 975px;
  background-color: transparent; 
  padding: 0px;
  margin: auto;  /* this will center the header on the page */
  text-align: center;
  align-content: center;
}

table.amcg_headerfooter_table {
  border-style: none;
  width: 975px;
  margin: 0px;
  vertical-align: middle;
  background-color: white;
}

td.amcg_headerfooter_td {
  font-size: 12px;
  color: #323232; 
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
}

.flexbox-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--amcg-blue);
    text-align: center;
}

table.amcg_main_table {
  border-style: none;
  width: 975px;
  margin: auto;  /* this will center the table on the page */
  background-color: white;
  padding: 0px;
  margin-top: 0px;
}

td.amcg_main_td {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.menu {
  align-content: left;
  vertical-align: top;
  width: 165px;
  height: 400px;
  border-style: none solid none none;
  border-width: 2px;
  border-color: var(--amcg-blue-25);
  padding-right: 5px;
  padding-top: 4px;
}

.main-nav {
  font-weight: bold;
  font-size: 14px;
  color: var(--amcg-blue);
}

.content_title {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
/*  background-color: rgba(0,73,140,.25); */
  text-align: center;
  border: solid 1px grey;
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f2fcfe, #85A7D4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f2fcfe, #85A7D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*  background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
/*  background: linear-gradient(to bottom, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

}

.login_title {
  display: block;
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: var(--amcg-blue);
}