
/***********************************************************************************************
 * VARIABLES                                                                                   *
 ***********************************************************************************************/

:root {
  --amcg-blue: rgb(0,73,140);
  --amcg-blue-50: rgb(0,73,140,.50);
  --amcg-blue-25: rgb(0,73,140,.25);
  --amcg-blue-08: rgb(0,73,140,.08);
  --amcg-yellow: rgb(253,185,19);
}

/***********************************************************************************************
 * ELEMENTS                                                                                    *
 ***********************************************************************************************/

 body {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 1.125em;
  color: var(--amcg-blue);
/*  background: #616161;  /* fallback for old browsers */  
/*  background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
/*  background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

span.span-paragraph {
  font-size: 1.0em;
  color: var(--amcg-blue);
  line-height: 0.75;
}

span.float-right {
  float: right;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--amcg-blue);
    margin: auto;  /* centers the hr */
    padding: 0;
}

hr.pagetitlebreak{
    border-top: 2px solid var(--amcg-yellow);
    height: 20px;
    width: 172px;
    color: transparent;
    opacity: 1;
}

hr.bodycol1break{
  border-top: 2px solid var(--amcg-yellow);
  margin: 0px;
  padding: 0px;
  width: 50%;
  opacity: 1;
}

hr.bodycol2break{
  border-top: 2px solid var(--amcg-yellow);
  margin: 0px 0px 0px 0px;
  padding: 0px;
  width: 100%;
  opacity: 1;
}

hr.searchresults-subblock-break-hr{
  border-top: 2px solid var(--amcg-yellow);
  margin: 0px;
  padding: 0px;
  width: 100%;
  opacity: 1;
}

a:link {
    color: var(--amcg-blue);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
  color: var(--amcg-blue);  /* don't change the color of a visited link */
  background-color: transparent;
  text-decoration: none;
}

a.a-paragraph {
  text-decoration: underline;
}

br.halfBreak {
  line-height: 0.25;
}

label.label-paragraph {
  font-weight: bold;
  color: var(--amcg-blue);
}

label.label-paragraph-title {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  color: var(--amcg-blue);
}

select.single-choice {
  font-size: 0.875em;
  width: 98%;
}


 /***********************************************************************************************
 * IDs                                                                                          *
 ***********************************************************************************************/

/***********************************************************************************************
 * CLASSES                                                                                    *
 ***********************************************************************************************/

.input-error {
  font-size: 0.85em;
  margin-left: 10px;
  color: red;
  display: inline-block;
}

 .femaleapplicantsonly {
     font-weight: bold;
     float: right;
     background-color: lightgreen;
     margin-top: 10px;
     font-size: 0.85em;
}

.scholarshipcount {
  font-weight: bold;
  background-color: lightcyan;
  margin-top: 10px;
  font-size: 0.85em;
}

.textbold {
    font-weight: bold;
 }

 .pagetitle {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.125em;
    color: var(--amcg-blue);
    font-weight: bold;
    padding: 0px 5px 0px 0px;
    text-align: center;
 }

.custom-toggler.navbar-toggler {
    border-color: var(--amcg-blue);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 73, 140, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link-dropdown {
  font-size: 0.3em;
  width: 175px;
  font-weight: normal;
}

.chevrons {
  color: var(--amcg-blue);
}

.inline-element {
  display: inline-block;
}

.bodylayout1col1 {
  margin: 0px;
  padding: 0px 10px 0px 0px;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  border-color: var(--amcg-yellow);
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
/*  font-variant: small-caps; */
  color: var(--amcg-blue);
  line-height: 1.4;
}

.filter-input-block {
  display: none;
/*  margin-left: 1.5em; */
}

.bodylayout1col2 {
  width: 975px;
  margin: 0px;
  padding: 0px 0px 0px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: var(--amcg-blue);
  line-height: 1.2;
}

.bodylayout1col1title {
  font-size: 1.125em;
  font-weight: bold;
}

.searchInstructions {
  font-size: 0.825em;
  white-space:nowrap;
}

.button-small {
  font-size: 0.825em;
  padding: 0px;
  margin: 0px 0px 0px 5px;
  color: var(--amcg-blue);
}

.button-normal-nomargins {
  font-size: 1.0em;
  padding: 0px;
  margin: 0px;
  color: var(--amcg-blue);
}

.advanced-search-criteria {
  margin-left: 1.5em;
}

.bodylayout1col2title {
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.0;
}

.expand-filter {
  padding: 0px;
  margin: 0px;
  height: 5px;
}

.filter_textbox {
  font-size: 0.875em;
  width: 98%;
}

.filter_select {
  font-size: 0.875em;
  width: 98%;
}

.filter-option {
  line-height: 2;
  padding: 0px;
  margin: 0px;
}

.button-search {
  padding: 0px 10px 0px 0px;
  color: var(--amcg-blue);
}

.button-apply {
  width:75px;
}

.button-disabled {
  filter: grayscale(1);
}

.button-enabled {
  filter: grayscale(0);
}

.apply {
  align-items: end;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  padding: 0px 0px 10px 0px;
}

/* .searchresultscol3B.text-block.description-short {  */
.description-short {
  /* width: 650px; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;

/*  max-height: 110px; /* default to 6 lines of text */ 
/*  white-space: nowrap; */
/*  -o-text-overflow: ellipsis; */
}

/* .searchresultscol3B.description-long { */
.description-long {
  height: auto; /* expand to fit contents */
  overflow: visible;
  white-space: pre-wrap;
}

.sponsorLogo {
  width:125px;
  padding: 0px;
  margin: 0px;
}

.scholarshipsponsorname {
  font-weight: bold;
  text-decoration: underline;
  color: var(--amcg-blue);
}

.eligibilityreqs {
  text-align: left;
  font-size: 0.75em;
}

.scholarshipname {
  font-weight: bold;
  text-decoration: underline;
  color: var(--amcg-blue);
}

.searchresults-mainblock {
  width: 960px;
  margin: 0px;
  padding-bottom: 10px;
}

.searchresults-mainblock-featured {
  width: 960px;
  background-color: var(--amcg-blue-08);
  margin: 0px;
  padding-bottom: 10px;
}

.searchresults-mainblockPreview {
  margin: 0px 0px 0px 0px;
}

.searchresults-subblock {
  width: 960px;
  margin: 0px;
  padding: 0px;
}

.searchresults-subblock-featured {
  background-color: var(--amcg-blue-08);
  margin: 0px;
  padding: 0px;
}

.searchresults-subblock-break {
  width: 960px;
  height: 2px;
  margin: 0px;
  padding: 0px;
}

.searchresultscol1 {
  padding: 5px 0px 0px 0px;
  font-size: 0.875em;
  width: 125px;
  white-space: normal;
  overflow: hidden;
  vertical-align: top;
}

.searchresultscol2 {
  font-size: 1.25em;
  text-align: center;
  width: 30px;
}

.searchresultscol3 {
  width: 805px;
  margin: 0px;
  padding: 0px 0px 0px 12px;
  line-height: 1.8;
  position: relative;
}

.searchresultscol3A {
  width: 140px;
  font-size: 0.875em;
  font-variant: normal;
  padding-top: 6px;
  font-weight: bold;
  line-height: 1.3;
}

.searchresultscol3A.text-block {
  width: 140px;
  font-size: 0.875em;
  font-variant: normal;
  padding-top: 8px;
  line-height: 1.3;
}

.searchresultscol3B {
  width: 635px;
  font-size: 0.875em;
  font-variant: normal;
  padding: 3px 0px 0px 0px;
}

.searchresultscol3B.text-block {
  width: 635px;
  font-size: 0.875em;
  font-variant: normal;
  padding: 8px 0px 0px 0px;
  line-height: 1.3;
  white-space: pre-wrap;
}

.searchresultscol3Bfeatured {
  width: 540px;
  font-size: 0.875em;
  font-variant: normal;
  line-height: 1.3;
  padding: 6px 0px 0px 0px;
}

.searchresultscol3Bfeatured.text-block {
  white-space: pre-wrap;
}

.searchresultscol3B.text-link {
  padding: 6px 0px 0px 0px;
  line-height: 1.3;
}

.featured-sponsor-col1 {
  padding: 5px 0px 0px 0px;
  font-size: 0.875em;
  width: 200px;
  white-space: normal;
  overflow: hidden;
  vertical-align: top;
  position: relative;
}

.featured-sponsor-col2 {
  width: 760px;
  margin: 0px;
  padding: 30px 0px 0px 12px;
  line-height: 1.8;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 1.8em;
}

.featured-sponsor-logo {
  width: 200px;
  padding: 0px 0px 0px 5px;
  margin: 0px 0px 0px 0px;
}

.featured-sponsor-name {
  margin: 10px 0px 40px 10px;
  font-size: 1.1em;
  font-weight: bold;
  /* position: absolute;
  left: 5px;
  bottom: 0px; */
}

.featured-sponsor-website {
  width: 190px;
  margin: 0px 0px 0px 5px;
  font-size: 1.1em;
  font-weight: bold;
  position: absolute;
  left: 5px;
  bottom: 0px;
  word-wrap: break-word;
}

.featured-sponsor-badge {
  width: 125px;
  height: auto;
  position: absolute;
  top: 5px;
  right: 0px;
  margin: 0px 5px 0px 0px;
  padding: 0px;
}

.featured-sponsor-fieldofstudy {
  width: 748px;
  overflow: hidden;
  margin: 0px 0px 50px 0px;
}

.featured-sponsor-fieldofstudy-col1 {
  width: 264px;
  font-size: .5em;
  line-height: 1.25;
  float: left;
  margin: 0px 0px 0px 110px;
}

.featured-sponsor-fieldofstudy-col2 {
  width: 264px;
  font-size: .5em;
  line-height: 1.25;
  float: left;
  margin: 0px 110px 0px 0px;
}

.featured-sponsor-view-scholarships {
  width: 175px;
  margin: 0px;
  height: 51px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0px;
  padding: 0px;
}

.featured-sponsor-view-scholarships-img{
  width: 100%;
}

.sponsorsearchresultscol4.text-block.description-short {
  max-height: 115px; /* default to 6 lines of text */
  overflow: hidden;
}

a.text-link {
  text-decoration: underline;
}

.paginationnavbar {
  text-align: right;
}

.paginationItem {
  padding-left: 5px;
  padding-right: 5px;
/*  margin-left: 5px; */
/*  margin-right: 5px; */
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: var(--amcg-blue);
}

.paginationItem:hover {
/*  background-color: lightgreen;  */
 text-decoration: underline;
 cursor: pointer;
}

.paginationItemSelected {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
/*  background-color: lightskyblue; */
}

.footer-foa {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 0.6em;
  color: var(--amcg-blue);
}

.footer-logo {
  width: 210px;
  padding: 0px 30px 10px 30px;
}

.amcg_headerfooter {
  border-style: none;
  width: 975px;
  background-color: transparent; 
  padding: 0px;
  margin: auto;  /* this will center the header on the page */
  text-align: center;
  align-content: center;
}

table.amcg_headerfooter_table {
  border-style: none;
  width: 975px;
  margin: 0px;
  vertical-align: middle;
  background-color: white;
}

td.amcg_headerfooter_td {
  font-size: 12px;
  color: #323232; 
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0px;
}

.flexbox-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--amcg-blue);
    text-align: center;
}

table.amcg_main_table {
  border-style: none;
  width: 975px;
  margin: auto;  /* this will center the table on the page */
  background-color: white;
  padding: 0px;
  margin-top: 0px;
}

td.amcg_main_td {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
}

.menu {
  align-content: left;
  vertical-align: top;
  width: 165px;
  height: 400px;
  border-style: none solid none none;
  border-width: 2px;
  border-color: var(--amcg-blue-25);
  padding-right: 5px;
  padding-top: 4px;
}

.main-nav {
  font-weight: bold;
  font-size: 14px;
  color: var(--amcg-blue);
}

.content_title {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
/*  background-color: rgba(0,73,140,.25); */
  text-align: center;
  border: solid 1px grey;
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #f2fcfe, #85A7D4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #f2fcfe, #85A7D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*  background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
/*  background: linear-gradient(to bottom, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

}

.login_title {
  display: block;
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: var(--amcg-blue);
}

.button-icon-magglass {
  width: 35px;
}

.button-icon-refresh {
  width: 25px;
}

.featuredbadge {
  width: 7em;
  height: auto;
  position: absolute;
  top: 5px;
  right: 0px;
  margin: 0px 5px 0px 0px;
  padding: 0px;
}

.featured-scholarships-block {
  margin: 0px 0px 20px 0px;
}

.featured-sponsors-block {
  margin: 0px 0px 20px 0px;
}