@media (min-width: 992px) and (max-width: 1199px){


  /**********************************************************/
  /* "SEARCH" pages */
  /**********************************************************/
  .bodylayout1col1 {
      width: 265px;
    }
    .bodylayout1col2 {
      width: 690px;
    }
    .searchresults-mainblock {
      width: 675px;
    }
    .searchresults-mainblock-featured {
      background-color: var(--amcg-blue-08);
      width: 675px;
    }
    .searchresults-subblock {
      width: 675px;
    }
    .searchresults-subblock-break {
      width: 675px;
    }
    .searchresultscol3 {
      width: 550px;
    }
    .searchresultscol3A {
      width: 140px;
    }
    .searchresultscol3A.text-block {
      width: 140px;
    }
    .searchresultscol3B {
      width: 410px;
    }
    .searchresultscol3Bfeatured {
      width: 290px;
    }
    .searchresultscol3B.text-block {
      width: 410px;
    }
    /* .searchresultscol3Bfeatured.text-block {
      width: 270px;
    } */

  /**********************************************************/
  /* "Featured Sponsor" panel                               */
  /**********************************************************/
  .featured-sponsor-col2 {
    width: 475px;
    font-size: 1.5em;
  }
  .featured-sponsor-badge {
    width: 90px;
  }
  .featured-sponsor-fieldofstudy {
    width: 475px;
    overflow: hidden;
  }
  .featured-sponsor-fieldofstudy-col1 {
    width: 177px;
    font-size: .6em;
    /* line-height: 1.25; */
    /* float: left; */
    margin: 0px 0px 0px 60px;
  }
  
  .featured-sponsor-fieldofstudy-col2 {
    width: 177px;
    font-size: .6em;
    /* line-height: 1.25; */
    /* float: left; */
    margin: 0px 60px 0px 0px;
  }

  /**********************************************************/
  /* "DATA MGMT" pages */
  /**********************************************************/
  .bodylayout1col2-datamgmt {
    width: 734px;
  }
  .data-mgmt-row {
    width: 719px;
  }
  .data-mgmt-value-div {
    width: 524px;
  }
  .data-mgmt-text-fifth {
    width: 25%; /* keep at 1/4 width so dates fully display */
  }
  
}
  