
@media (min-width: 768px) and (max-width: 991px){


/**********************************************************
  Header and Login Links
/**********************************************************/

.container-logo-login {
  display: block;
  width: 750px;
  height: 80px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.navbar-toprow-left {
  display: inline-block;
  width: 0%;
}

.navbar-toprow-center {
  display: inline-block;
  justify-content: center;
  width: 45%;
  padding-left: 7px;
}

.navbar-toprow-right {
  display: inline-flex;
  align-items: center;
  width: 49%;
  height: 100%;
  justify-content: right;
  padding-right: 20px;
}

.navbar-logo-img {
  width: 170px;
}


/**********************************************************
  Nav Bar (Horizontal)
/**********************************************************/

.container-nav-horizontal {
  flex-direction: column;
  display: block;
  width: 750px;
  height: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.navbar-item {
  display: inline-block;
  text-align: center;
  width: 100px;
  font-size: .85em;
}


/**********************************************************
  Nav Bar (Hamburger - Small)
/**********************************************************/

#menuSmall {
  display: none;
}

#menuSmallToggle {
  display: none;
}




/*

  .splashbar {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    align-items: center;
  }
  img.splashbar {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
*/

/**********************************************************/
/* "SEARCH" pages (col1 and col2 are stacked and are full-width) */
/**********************************************************/

.bodylayout1col1 {
  width: 690px;
  margin-bottom: 20px;
  border-width: 0px;
}

.bodylayout1col2 {
  width: 690px;
}

.searchresults-mainblock {
  width: 675px;
}

.featured-item-block {
  background-color: var(--amcg-blue-08);
  width: 675px;
}




.searchresults-subblock-break {
      width: 675px;
    }
    .searchresultscol3 {
      width: 550px;
    }
    .searchresultscol3A {
      width: 140px;
    }
    .searchresultscol3A.text-block {
      width: 140px;
    }
    .searchresultscol3B {
      width: 410px;
    }
    .searchresultscol3Bfeatured {
      width: 290px;
    }
    .searchresultscol3B.text-block {
      width: 410px;
    }
    #toggleSearchCriteriaPanelBlockButton {
      display: inline-block;
    }
    .filter_select {
      width: 300px;
    }
    .filter_textbox {
      width: 300px;
    }

/**********************************************************/
/* "Featured Sponsor" panel                               */
/**********************************************************/

.featured-sponsors-block {
  width: 100%;
}

.featured-sponsor-col1 {
  width: 175px;
}

.featured-sponsor-logo {
  width: 175px;
}

.featured-sponsor-col2 {
  width: 500px;
  font-size: 1.5em;
}

.featured-sponsor-badge {
  width: 90px;
}

.featured-sponsor-fieldofstudy {
  width: 475px;
  overflow: hidden;
}

.featured-sponsor-fieldofstudy-col1 {
  width: 177px;
  font-size: .6em;
  margin: 0px 0px 0px 60px;
 }

.featured-sponsor-fieldofstudy-col2 {
  width: 177px;
  font-size: .6em;
  margin: 0px 60px 0px 0px;
}








.featured-scholarship-badge {
    width: 90px;
  }
  
  /**********************************************************/
  /* "DATA MGMT" pages */
  /**********************************************************/
  /* .bodylayout1col2-datamgmt { */
    /* width: 734px; */
  /* } */
  /* .data-mgmt-row { */
    /* width: 719px; */
  /* } */
  /* .data-mgmt-value-div { */
    /* width: 524px; */
  /* } */
  /* .data-mgmt-text-fifth { */
/*    width: 25%; /* keep at 1/4 width so dates fully display */
  /* } */
  
}
  