@media (min-width: 1200px) and (max-width: 1399px){
  .bodylayout1col1 {
    width: 285px;
  }
  .bodylayout1col2 {
    width: 855px;
  }
  .searchresults-mainblock {
    width: 840px;
  }
  .searchresults-mainblock-featured {
    background-color: var(--amcg-blue-08);
    width: 840px;
  }
  .searchresults-subblock {
    width: 840px;
  }
  .searchresults-subblock-break {
    width: 840px;
  }
  .sponsorsearchresultscol3 {
    width: 685px;
  }
  /* .sponsorsearchresultscol3featured {
    width: 665px;
  } */
  .sponsorsearchresultscol3A {
    width: 140px;
  }
  .sponsorsearchresultscol3A.text-block {
    width: 140px;
  }
  .sponsorsearchresultscol3B {
    width: 530px;
  }
  .sponsorsearchresultscol3Bfeatured {
    width: 420px;
  }
  .sponsorsearchresultscol3B.text-block {
    width: 530px;
  }
  .sponsorsearchresultscol3Bfeatured.text-block {
    width: 420px;
  }
  .scholarshipsearchresultscol3 {
    width: 680px;
  }
  .scholarshipsearchresultscol3B {
    width: 530px;
  }
  .scholarshipsearchresultscol3B.text-block {
    width: 530px;
  }
}
