
/***********************************************************************************************
 * VARIABLES                                                                                   *
 ***********************************************************************************************/

:root {
  --amcg-blue: rgb(0,73,140);
  --amcg-blue-50: rgb(0,73,140,.5);
  --amcg-blue-25: rgb(0,73,140,.25);
  --amcg-yellow: rgb(253,185,19);
  --amcg-red: rgb(120,37,31);
}

/***********************************************************************************************
 * Data Input/Mgmt Controls                                                                    *
 ***********************************************************************************************/

.bodylayout1col1-datamgmt {
  margin: 0px;
  padding: 0px 10px 0px 0px;
  border-style: solid;
  border-width: 0px 2px 0px 0px;
  border-color: var(--amcg-yellow);
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: var(--amcg-blue);
  line-height: 1.4;
  width: 226px;
}

.bodylayout1col2-datamgmt {
  margin: 0px;
  padding: 0px 0px 0px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 0.80em;
  color: var(--amcg-blue);
  line-height: 0.9;
  width: 1094px;
}

.data-mgmt-row {
  display: flex;
  /* width: 1041px; */
  width: 100%;
}

.data-mgmt-label-div {
  width: 180px;
}

.data-mgmt-required-div {
  width: 15px;
  padding: 0px 5px 0px 5px;
  margin: 0px;
}

.data-mgmt-value-div {
  margin: 0px;
  padding: 0px;
  width: 884px;
}

label.data-mgmt-col-title {
  margin-bottom: 5px;
}

label.form-status {
  display: inline-block;
/*  width: 600px; */
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.0em;
  color: var(--amcg-red);
  font-weight: bold;

}

.data-mgmt-label {
  display: inline-block;
  /* width: 200px; */
  width: 100%;
  vertical-align: top;
  padding-top: 5px;
}

.data-mgmt-label-instruction {
  display: inline-block;
  /* width: 200px; */
  width: 100%;
  vertical-align: top;
  padding-top: 5px;
  font-size: 0.825em;
  white-space:nowrap;
}

.data-mgmt-label-required {
  vertical-align: top;
  padding-top: 5px;
  color: red;
}

.data-mgmt-span-error {
  display: none;
  /* width: 600px; */
  width: 100%;
  height: 20px;
  vertical-align: top;
  margin-top: 5px;
  padding-top: 3px;
  padding-left: 3px;
  color: red;
  /* background-color: #f3cdd4; */
}
  
.data-mgmt-text {
  /* width: 810px; */
  width: 100%;
  line-height: 1.00;
}

.data-mgmt-text-half {
  /* width: 405px; */
  width: 50%;
  line-height: 1.00;
}

.data-mgmt-text-third {
  /* width: 270px; */
  width: 33%;
  line-height: 1.00;
}

.data-mgmt-text-quarter {
  /* width: 202px; */
  width: 25%;
  line-height: 1.00;
}

.data-mgmt-text-fifth {
  /* width: 162px; */
  width: 20%;
  line-height: 1.00;
}

.data-mgmt-date {
  width: 140px; /* Not a % due to dates having fixed widths */
  line-height: 1.00;
}

.data-mgmt-textarea-5lines {
  width: 100%;
  height: 85px;
  line-height: 1.1;
  white-space: pre-wrap;
}

.data-mgmt-textarea-1line {
  width: 100%;
  height: 23px;
  resize: none;
  white-space: nowrap;
  overflow: hidden;
}

.data-mgmt-textarea-1line-half {
  /* width: 405px; */
  width: 50%;
  height: 23px;
  resize: none;
  white-space: nowrap;
  overflow: hidden;
}

.data-mgmt-textarea-1line-third {
  /* width: 270px; */
  width: 33%;
  height: 23px;
  resize: none;
  white-space: nowrap;
  overflow: hidden;
}

.data-mgmt-textarea-2lines {
  /* width: 810px; */
  width: 100%;
  height: 40px;
  resize: none;
  line-height: 1.1;
}

.data-mgmt-button {
  line-height: 1.5;
}

.data-mgmt-select-multiple {
  /* width: 810px; */
  width: 100%;
  padding: 0px;
  height: 91px;
}

.data-mgmt-select-multiple-half {
  /* width: 405px; */
  width: 50%;
  padding: 0px;
  height: 91px;
}

.data-mgmt-select-single {
  line-height: 1.00;
  /* width: 810px; */
  width: 100%;
  height: 23px;
}

.data-mgmt-select-single-half {
  line-height: 1.00;
  /* width: 405px; */
  width: 50%;
  height: 23px;
}
  
.data-mgmt-select-single-third {
  line-height: 1.00;
  /* width: 270px; */
  width: 33%;
  height: 23px;
  background-color: white;
}

.data-mgmt-select-single-quarter {
  line-height: 1.00;
  /* width: 202px; */
  width: 25%;
  height: 23px;
  background-color: white;
}

.data-mgmt-select-single-fifth {
  line-height: 1.00;
  /* width: 162px; */
  width: 20%;
  height: 23px;
  background-color: white;
}

.data-mgmt-checkbox {
  line-height: 1.00;
  margin-top: 5px;
}

.tab button {
  background-color: lightgray;
  border: 0;
  box-shadow: none;
  padding: 0.5rem;
  font-weight: normal;
  font-size: 0.9rem;
}

.tab button.active {
  background-color: #ccc;
  color: black;
  font-weight: bold;
  font-size: 0.95rem;
  padding: 0.47rem;
}

.tabcontent {
  display: none;
  padding: 6px 0px 0px 0px;
}

