@media (min-width: 1200px) and (max-width: 1399px){

  /**********************************************************/
  /* "SEARCH" pages */
  /**********************************************************/
  .bodylayout1col1 {
    width: 285px;
  }
  .bodylayout1col2 {
    width: 855px;
  }
  .searchresults-mainblock {
    width: 840px;
  }
  .searchresults-mainblock-featured {
    background-color: var(--amcg-blue-08);
    width: 840px;
  }
  .searchresults-subblock {
    width: 840px;
  }
  .searchresults-subblock-break {
    width: 840px;
  }
  .searchresultscol3 {
    width: 685px;
  }
  .searchresultscol3A {
    width: 140px;
  }
  .searchresultscol3A.text-block {
    width: 140px;
  }
  .searchresultscol3B {
    width: 530px;
  }
  .searchresultscol3Bfeatured {
    width: 420px;
  }
  .searchresultscol3B.text-block {
    width: 530px;
  }
  .searchresultscol3Bfeatured.text-block {
    width: 420px;
  }

  /**********************************************************/
  /* "DATA MGMT" pages */
  /**********************************************************/
  .bodylayout1col2-datamgmt {
    width: 914px;
  }
  .data-mgmt-row {
    width: 899px;
  }
  .data-mgmt-value-div {
    width: 704px;
  }

}
