@media (max-width: 767px){


/**********************************************************
  Header and Login Links
/**********************************************************/

.container-logo-login {
  display: block;
  width: 100%;
  height: 80px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-toprow-left {
  width: 0%;
}

.navbar-toprow-center {
  display: inline-block;
  justify-content: center;
  width: 50%;
  padding-left: 5px;
}

.navbar-toprow-right {
  width: 15%;
}

.navbar-logo-img {
  width: 170px;
}


/**********************************************************
  Nav Bar (Horizontal) -- HIDDEN
/**********************************************************/

.container-nav-horizontal {
  display: none;
}

.navbar-item-small {
  text-align: center;
  width: 120px;
  /* font-size: 0.8em; */
  font-weight: bold;
}

/**********************************************************
  Nav Bar (Hamburger - Small)
/**********************************************************/

#menuLogin {
  display: none;
}

#menuSmall {
  display: block;
  line-height: 50px;
}

#menuSmallToggle {
  display: block;
}

.container-nav-small {
  display: block;
  margin-left: 20px;
}

.button-icon {
  font-size: 0.825em;
  height: 50px;
  padding: 0px;
  margin: 0px 0px 0px 5px;
  color: var(--amcg-blue);
}

.splashbar {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  align-items: center;
}


/**********************************************************/
/* "SEARCH" pages  (col1 and col2 are stacked and are full-width) */
/**********************************************************/

.container {
  max-width: 767px;
  width: 100%;
}

.bodylayout1col1 {
  width: 100%;
  padding: 0px 5px 0px 5px;
  border-width: 0px;
  margin-bottom: 20px;
}

.search-panel {
  margin: 0px;
}

.search-panel-criteria-elements {
  font-size: 1.25em;
  line-height: 2em;
  padding: 0px 0px 10px 0px;
}

.search-instructions-press-ctrl {
  display: none;
}

.bodylayout1col2 {
  width: 100%;
  padding: 0px 5px 0px 5px;
}

.searchresults-mainblock {
  width: 100%;
}

.featured-item-block {
  background-color: var(--amcg-blue-08);
}

.searchresultscol1 {
  width: 25%;
}

.sponsorLogo {
  width: 100%;
}

.sponsor-name-col1 {
  display: block;
  margin: 10px 0px 0px 10px;
  font-size: 1.1em;
  font-weight: bold;
}

.femaleapplicantsonly {
  margin: 10px auto 0px auto;
  font-size: 0.85em;
}

.sponsor-name-col2 {
  display: none;
}

.searchresultscol3 {
  width: 75%;
}

.searchresultscol3A {
  width: 100%;
  padding: 6px 0px 0px 6px;
}

.searchresultscol3B {
  width: 100%;
  padding: 0px 6px 0px 6px;
}

.searchresultscol3B.text-block {
  width: 90%;
  padding: 0px 6px 6px 6px;
}

.searchresultscol3B.text-link {
  padding: 0px 6px 0px 6px;
}

.searchresultscol3B-award {
  width: 90%;
  padding: 0px 6px 0px 6px;
}

.searchresultscol3Bfeatured {
  width: 75%;
  padding: 0px 6px 0px 6px;
}

.searchresults-subblock-break {
      width: 675px;
    }
.searchresultscol3A.text-block {
      width: 140px;
    }
#toggleSearchCriteriaPanelBlockButton {
      display: inline-block;
    }

/**********************************************************/
/* "Featured Sponsor" panel                               */
/**********************************************************/
  
.featured-sponsors-block {
  width: 100%;
}

.featured-item-block {
  width: 100%;
}

.featured-sponsor-col1 {
  width: 25%;
}

.featured-sponsor-name {
  font-size: 1.1em;
  margin: 0px;
  padding: 0px 0px 0px 6px;
  word-wrap: break-word;
}

.featured-sponsor-col2 {
  width: 75%;
  padding: 45px 0px 0px 2px;
  font-size: 1em;
}

.featured-sponsor-badge {
  display: none;
}

.featured-sponsor-badge-mobile {
  display: block;
}

.featured-sponsor-fieldofstudy {
  width: 100%;
  overflow: hidden;
  margin: 0px;
}

.featured-sponsor-fieldofstudy-col1 {
  width: 100%;
  font-size: 1em;
  margin: 0px 0px 30px 0px;
}

.featured-sponsor-fieldofstudy-col2 {
  display: none;
  /* width: 0px;
  font-size: .6em;
  margin: 0px 60px 0px 0px; */
}

.featured-scholarship-badge {
  /* display: none; */
  width: 75px;
}
  
/* .featured-scholarship-badge-mobile {
  display: block;
  width: 75px;
} */
  

/**********************************************************/
/* "Search Results" panel                                 */
/**********************************************************/
  
.sponsor-view-scholarships {
  width: 125px;
}
  
/* always inside sponsor-view-scholarship link, so no specifications needed here */
/* .sponsor-view-scholarships-img{
} */
  
.sponsor-no-scholarships-img {
  /* never inside sponsor-view-scholarship link, so all specifications needed here */
  width: 125px;
}

}