
@media (max-width: 576px){


/**********************************************************
  Header and Login Links
/**********************************************************/

.container-logo-login {
  display: block;
  width: 100%;
  height: 80px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-toprow-left {
  width: 0%;
}

.navbar-toprow-center {
  display: inline-block;
  justify-content: center;
  width: 80%;
  padding-left: 10px;
}

.navbar-toprow-right {
  width: 15%;
}

.navbar-logo-img {
  width: 170px;
}


/**********************************************************
  Nav Bar (Horizontal) -- HIDDEN
/**********************************************************/

.container-nav-horizontal {
  display: none;
}

.navbar-item-small {
  text-align: center;
  width: 120px;
  /* font-size: 0.8em; */
  font-weight: bold;
}

/**********************************************************
  Nav Bar (Hamburger - Small)
/**********************************************************/

#menuLogin {
  display: none;
}

#menuSmall {
  display: block;
  line-height: 50px;
}

.button-icon {
  font-size: 0.825em;
  height: 50px;
  padding: 0px;
  margin: 0px 0px 0px 5px;
  color: var(--amcg-blue);
}

.container-nav-small {
  display: block;
  margin-left: 20px;
}






.search-panel {
  margin-left: 20px;
}







  /**********************************************************/
  /* "SEARCH" pages */
  /**********************************************************/
  .bodylayout1col1 {
      /* width: 265px; */
      width: 690px;
      margin-bottom: 20px;
      border-width: 0px;
    }
    .bodylayout1col2 {
      width: 690px;
    }
    .searchresults-mainblock {
      width: 675px;
    }
    .featured-item-block {
      background-color: var(--amcg-blue-08);
      width: 675px;
    }
    .searchresults-subblock {
      width: 675px;
    }
    .searchresults-subblock-break {
      width: 675px;
    }
    .searchresultscol3 {
      width: 550px;
    }
    .searchresultscol3A {
      width: 140px;
    }
    .searchresultscol3A.text-block {
      width: 140px;
    }
    .searchresultscol3B {
      width: 410px;
    }
    .searchresultscol3Bfeatured {
      width: 290px;
    }
    .searchresultscol3B.text-block {
      width: 410px;
    }
    #toggleSearchCriteriaPanelBlockButton {
      display: inline-block;
    }

  /**********************************************************/
  /* "Featured Sponsor" panel                               */
  /**********************************************************/
  .featured-sponsor-col1 {
    width: 175px;
  }
  .featured-sponsor-logo {
    width: 175px;
  }
  .featured-sponsor-col2 {
    width: 475px;
    font-size: 1.5em;
  }
  .featured-sponsor-badge {
    width: 90px;
  }
  .featured-sponsor-fieldofstudy {
    width: 475px;
    overflow: hidden;
  }
  .featured-sponsor-fieldofstudy-col1 {
    width: 177px;
    font-size: .6em;
    margin: 0px 0px 0px 60px;
  }
  .featured-sponsor-fieldofstudy-col2 {
    width: 177px;
    font-size: .6em;
    margin: 0px 60px 0px 0px;
  }
  .featured-scholarship-badge {
    width: 90px;
  }
  
  /**********************************************************/
  /* "DATA MGMT" pages */
  /**********************************************************/
  /* .bodylayout1col2-datamgmt { */
    /* width: 734px; */
  /* } */
  /* .data-mgmt-row { */
    /* width: 719px; */
  /* } */
  /* .data-mgmt-value-div { */
    /* width: 524px; */
  /* } */
  /* .data-mgmt-text-fifth { */
/*    width: 25%; /* keep at 1/4 width so dates fully display */
  /* } */
  
}
  