@media (min-width: 1200px) and (max-width: 1399px){

  /**********************************************************/
  /* "SEARCH" pages */
  /**********************************************************/
  .bodylayout1col1 {
    width: 285px;
  }
  .bodylayout1col2 {
    width: 855px;
  }
  .searchresults-mainblock {
    width: 840px;
  }
  .searchresults-mainblock-featured {
    background-color: var(--amcg-blue-08);
    width: 840px;
  }
  .searchresults-subblock {
    width: 840px;
  }
  .searchresults-subblock-break {
    width: 840px;
  }
  .searchresultscol3 {
    width: 685px;
  }
  .searchresultscol3A {
    width: 140px;
  }
  .searchresultscol3A.text-block {
    width: 140px;
  }
  .searchresultscol3B {
    width: 530px;
  }
  .searchresultscol3Bfeatured {
    width: 420px;
  }
  .searchresultscol3B.text-block {
    width: 530px;
  }
  .searchresultscol3Bfeatured.text-block {
    width: 420px;
  }

  /**********************************************************/
  /* "Featured Sponsor" panel                               */
  /**********************************************************/
  .featured-sponsor-col2 {
    width: 640px;
    font-size: 1.75em;
  }
  .featured-sponsor-badge {
    width: 100px;
  }
  .featured-sponsor-fieldofstudy {
    width: 640px;
    overflow: hidden;
  }
  .featured-sponsor-fieldofstudy-col1 {
    width: 240px;
    font-size: .5em;
    /* line-height: 1.25; */
    /* float: left; */
    margin: 0px 0px 0px 70px;
  }
  
  .featured-sponsor-fieldofstudy-col2 {
    width: 240px;
    font-size: .5em;
    /* line-height: 1.25; */
    /* float: left; */
    margin: 0px 70px 0px 0px;
  }
    
  /**********************************************************/
  /* "DATA MGMT" pages */
  /**********************************************************/
  .bodylayout1col2-datamgmt {
    width: 914px;
  }
  .data-mgmt-row {
    width: 899px;
  }
  .data-mgmt-value-div {
    width: 704px;
  }

}
