
/***********************************************************************************************
 * VARIABLES                                                                                   *
 ***********************************************************************************************/

:root {
  --amcg-blue: rgb(0,73,140);
  --amcg-blue-50: rgb(0,73,140,.5);
  --amcg-blue-25: rgb(0,73,140,.25);
  --amcg-yellow: rgb(253,185,19);
  --amcg-red: rgb(120,37,31);
}

/***********************************************************************************************
 * Data Input/Mgmt Controls                                                                    *
 ***********************************************************************************************/

 .flexcontainer-datamgmt {
  display: flex;
  width: 95%;
  flex-direction: row;
}

.bodylayout1col2-datamgmt {
  margin: 0px;
  padding: 0px 0px 0px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 0.80em;
  color: var(--amcg-blue);
  line-height: 0.9;
}

div.data-mgmt-label {
  width: 200px;
  margin-right: 2px;
}

div.data-mgmt-required {
  width: 5px;
  margin: 0px;
  padding: 0px;
}

div.data-mgmt-value {
  margin-left: 5px;
  padding: 0px;
}

label.data-mgmt-col-title {
  margin-bottom: 5px;
}

label.form-status {
  display: inline-block;
/*  width: 600px; */
  vertical-align: top;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.0em;
  color: var(--amcg-red);
  font-weight: bold;

}

label.data-mgmt {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding-top: 5px;
}

label.data-mgmt-instruction {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  padding-top: 5px;
  font-size: 0.825em;
  white-space:nowrap;
}

label.data-mgmt-required {
/*  display: inline-block; */
/*  width: 10px; */
  vertical-align: top;
  padding-top: 5px;
  color: red;
}

span.data-mgmt-error {
  display: none;
  width: 600px;
  height: 20px;
  vertical-align: top;
  margin-top: 5px;
  color: red;
}
  
  input.data-mgmt-text {
  width: 680px;
  line-height: 1.00;
}

input.data-mgmt-text-short {
  width: 450px;
  line-height: 1.00;
}

textarea.data-mgmt {
  width: 680px;
  height: 80px;
  line-height: 1.1;
}

button.data-mgmt {
  line-height: 1.5;
}

select.data-mgmt-multiple {
  font-size: 0.875em;
  width: 680px;
  padding: 0px;
}

